.sprite-ez { background-image: url('./sprite.png') !important; background-repeat: no-repeat !important; }
.sprite-ez.calculator, .sprite-ez.calculator_N { background-position: -0px -0px; width: 48px; height: 48px }
.sprite-ez.calculator:hover, .sprite-ez.calculator_H {background-position: -0px -256px; width: 48px; height: 48px }
.sprite-ez.calculator:disabled, .sprite-ez.calculator_D { background-position: -0px -128px; width: 48px; height: 48px }
.sprite-ez.document, .sprite-ez.document_N { background-position: -48px -0px; width: 48px; height: 48px }
.sprite-ez.document:hover, .sprite-ez.document_H {background-position: -48px -256px; width: 48px; height: 48px }
.sprite-ez.document:disabled, .sprite-ez.document_D { background-position: -48px -128px; width: 48px; height: 48px }
.sprite-ez.email, .sprite-ez.email_N { background-position: -96px -0px; width: 48px; height: 48px }
.sprite-ez.email:hover, .sprite-ez.email_H {background-position: -96px -256px; width: 48px; height: 48px }
.sprite-ez.email:disabled, .sprite-ez.email_D { background-position: -96px -128px; width: 48px; height: 48px }
.sprite-ez.home, .sprite-ez.home_N { background-position: -144px -0px; width: 48px; height: 48px }
.sprite-ez.home:hover, .sprite-ez.home_H {background-position: -144px -256px; width: 48px; height: 48px }
.sprite-ez.home:disabled, .sprite-ez.home_D { background-position: -144px -128px; width: 48px; height: 48px }
.sprite-ez.human, .sprite-ez.human_N { background-position: -192px -0px; width: 48px; height: 48px }
.sprite-ez.human:hover, .sprite-ez.human_H {background-position: -192px -256px; width: 48px; height: 48px }
.sprite-ez.human:disabled, .sprite-ez.human_D { background-position: -192px -128px; width: 48px; height: 48px }
.sprite-ez.networks, .sprite-ez.networks_N { background-position: -240px -0px; width: 128px; height: 128px }
.sprite-ez.networks:hover, .sprite-ez.networks_H {background-position: -240px -256px; width: 128px; height: 128px }
.sprite-ez.networks:disabled, .sprite-ez.networks_D { background-position: -240px -128px; width: 128px; height: 128px }
